{% extends "base.html" %}
{% load static %}
{% block title %} Registration Successful {% endblock title %}

{% block content %}

        <!--Welcome Section-->

        <section class="welcome-section">

            <div class="auto-container">

                <div id="activities" class="sec-title centered">

                    <h2>Your Account Was Created </h2>

                    <div class="lower-text">{{success_msg}}</div>

                </div>

                <div class="row clearfix">

                    <!--Feature Block-->

                    <div class="featured-block col-lg-4 col-md-6 col-sm-12">

                        <div class="inner-box">

                            <div class="content-box">

                                <div class="icon-box"><span class="flaticon-parking"></span></div>

                                <div class="content">

                                    <div class="subtitle">In Effect</div>

                                    <h4><a href="#">Alternate side parking in effect.</a></h4>

                                </div>

                            </div>

                            <div class="hover-box">

                                <div class="image-layer"
                                    style="background-image: url(static/poll/images/background/featured-image-1.jpg);">
                                </div>

                                <div class="inner">

                                    <h4><a href="#">Alternate side parking in effect.</a></h4>

                                    <div class="text">These cases are perfectly simple and easy work to distinguish.
                                    </div>

                                </div>

                            </div>

                            <div class="more-link">

                                <a href="#"><span class="flaticon-right-2"></span></a>

                            </div>

                        </div>

                    </div>



                    <!--Feature Block-->

                    <div class="featured-block col-lg-4 col-md-6 col-sm-12">

                        <div class="inner-box">

                            <div class="content-box">

                                <div class="icon-box"><span class="flaticon-recycling-truck"></span></div>

                                <div class="content">

                                    <div class="subtitle">Schedule</div>

                                    <h4><a href="#">Garbage & recycling on schedule.</a></h4>

                                </div>

                            </div>

                            <div class="hover-box">

                                <div class="image-layer"
                                    style="background-image: url(static/poll/images/background/featured-image-1.jpg);">
                                </div>

                                <div class="inner">

                                    <h4><a href="#">Garbage & recycling on schedule.</a></h4>

                                    <div class="text">These cases are perfectly simple and easy work to distinguish.
                                    </div>

                                </div>

                            </div>

                            <div class="more-link">

                                <a href="#"><span class="flaticon-right-2"></span></a>

                            </div>

                        </div>

                    </div>



                    <!--Feature Block-->

                    <div class="featured-block col-lg-4 col-md-6 col-sm-12">

                        <div class="inner-box">

                            <div class="content-box">

                                <div class="icon-box"><span class="flaticon-school"></span></div>

                                <div class="content">

                                    <div class="subtitle">Schools</div>

                                    <h4><a href="#">All public schools are open.</a></h4>

                                </div>

                            </div>

                            <div class="hover-box">

                                <div class="image-layer"
                                    style="background-image: url(static/poll/images/background/featured-image-1.jpg);">
                                </div>

                                <div class="inner">

                                    <h4><a href="#">All public schools are open.</a></h4>

                                    <div class="text">These cases are perfectly simple and easy work to distinguish.
                                    </div>

                                </div>

                            </div>

                            <div class="more-link">

                                <a href="#"><span class="flaticon-right-2"></span></a>

                            </div>

                        </div>

                    </div>



                </div>

            </div>

        </section>  
{% endblock content %}