{% extends "base.html" %}
{% load static %}
{% block title %} Home {% endblock title %}

{% block content %}

        <!-- Banner Section -->

        <section class="banner-section banner-one">



            <div class="banner-carousel owl-theme owl-carousel">

                <!-- Slide Item -->

                <div class="slide-item">

                    <div class="image-layer" style="background-image: url(https://res.cloudinary.com/daniela1/image/upload/v1686905173/vote_zh20ey.jpg);"></div>

                    <div class="auto-container">

                        <div class="content-box">

                            <div class="content clearfix">

                                <div class="inner">

                                    <h1>London is <br>Best Town on <br>Earth</h1>

                                    <div class="text">We're starting off with a handful of spots that should also be on
                                        your bucket list.</div>

                                    <div class="links-box clearfix">

                                        <a href="#services" class="theme-btn btn-style-one"><span
                                                class="btn-title">Learn More</span></a>

                                                <a href="{% url 'account:select_position_view' %}" class="theme-btn btn-style-one"><span class="btn-title">Cast Your vote
                                                </span></a>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="next-slide">

                        <div class="inner">

                            <div class="count">02</div>

                            <div class="text">Save time , pay your tax online</div>

                            <div class="arrow"><span class="flaticon-next"></span></div>

                        </div>

                    </div>

                </div>



                <!-- Slide Item -->

                <div class="slide-item">

                    <div class="image-layer" style="background-image: url(https://res.cloudinary.com/daniela1/image/upload/v1686905173/vote_zh20ey.jpg);"></div>

                    <div class="auto-container">

                        <div class="content-box">

                            <div class="content clearfix">

                                <div class="inner">

                                    <h1>Save Time, <br>pay your tax <br>online </h1>

                                    <div class="text">We're starting off with a handful of spots that should also be on
                                        your bucket list.</div>

                                    <div class="links-box clearfix">

                                        <a href="#services" class="theme-btn btn-style-one"><span class="btn-title">Learn More
                                            </span></a>
                                        
                                        <a href="{% url 'account:select_position_view' %}" class="theme-btn btn-style-one"><span class="btn-title">Cast Your vote
                                            </span></a>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="next-slide">

                        <div class="inner">

                            <div class="count">03</div>

                            <div class="text">The worls’d larget urban museum</div>

                            <div class="arrow"><span class="flaticon-next"></span></div>

                        </div>

                    </div>

                </div>

            </div>

        </section>

        <!--End Banner Section -->



        <!--Welcome Section-->

        <section class="welcome-section">

            <div class="auto-container">

                <div id="activities" class="sec-title centered">

                    <h2>What are The Today Activities of City Govt of London </h2>

                    <div class="lower-text">We denounce with righteous indignation and dislike men who are so beguiled &
                        demoralized.</div>

                </div>

                <div class="row clearfix">

                    <!--Feature Block-->

                    <div class="featured-block col-lg-4 col-md-6 col-sm-12">

                        <div class="inner-box">

                            <div class="content-box">

                                <div class="icon-box"><span class="flaticon-parking"></span></div>

                                <div class="content">

                                    <div class="subtitle">In Effect</div>

                                    <h4><a href="#">Alternate side parking in effect.</a></h4>

                                </div>

                            </div>

                            <div class="hover-box">

                                <div class="image-layer"
                                    style="background-image: url(static/poll/images/background/featured-image-1.jpg);">
                                </div>

                                <div class="inner">

                                    <h4><a href="#">Alternate side parking in effect.</a></h4>

                                    <div class="text">These cases are perfectly simple and easy work to distinguish.
                                    </div>

                                </div>

                            </div>

                            <div class="more-link">

                                <a href="#"><span class="flaticon-right-2"></span></a>

                            </div>

                        </div>

                    </div>



                    <!--Feature Block-->

                    <div class="featured-block col-lg-4 col-md-6 col-sm-12">

                        <div class="inner-box">

                            <div class="content-box">

                                <div class="icon-box"><span class="flaticon-recycling-truck"></span></div>

                                <div class="content">

                                    <div class="subtitle">Schedule</div>

                                    <h4><a href="#">Garbage & recycling on schedule.</a></h4>

                                </div>

                            </div>

                            <div class="hover-box">

                                <div class="image-layer"
                                    style="background-image: url(static/poll/images/background/featured-image-1.jpg);">
                                </div>

                                <div class="inner">

                                    <h4><a href="#">Garbage & recycling on schedule.</a></h4>

                                    <div class="text">These cases are perfectly simple and easy work to distinguish.
                                    </div>

                                </div>

                            </div>

                            <div class="more-link">

                                <a href="#"><span class="flaticon-right-2"></span></a>

                            </div>

                        </div>

                    </div>



                    <!--Feature Block-->

                    <div class="featured-block col-lg-4 col-md-6 col-sm-12">

                        <div class="inner-box">

                            <div class="content-box">

                                <div class="icon-box"><span class="flaticon-school"></span></div>

                                <div class="content">

                                    <div class="subtitle">Schools</div>

                                    <h4><a href="#">All public schools are open.</a></h4>

                                </div>

                            </div>

                            <div class="hover-box">

                                <div class="image-layer"
                                    style="background-image: url(static/poll/images/background/featured-image-1.jpg);">
                                </div>

                                <div class="inner">

                                    <h4><a href="#">All public schools are open.</a></h4>

                                    <div class="text">These cases are perfectly simple and easy work to distinguish.
                                    </div>

                                </div>

                            </div>

                            <div class="more-link">

                                <a href="#"><span class="flaticon-right-2"></span></a>

                            </div>

                        </div>

                    </div>



                </div>

            </div>

        </section>



        <!--About Section-->

        <section class="about-section">

            <div class="image-layer" style="background-image: url(static/poll/images/background/image-1.jpg);"></div>

            <div class="pattern-layer" style="background-image: url(static/poll/images/background/pattern-1.png);">
            </div>

            <div class="auto-container">

                <div class="content-box">

                    <div class="content">

                        <div class="sec-title light">

                            <h2>The Major Voice of <br>City Government, London</h2>

                        </div>

                        <div class="upper-text clearfix"><span class="big-letter">M</span>ayor of london the obligations
                            business will frequently occur that all pleasures have to be repudiated annoyances accepted
                            wise man therefore always holds.</div>

                        <div class="text">Beguiled and demoralized by the charms of pleasure of the moment, so blinded
                            by desire, that they cannot foresee.</div>

                        <div class="signature"><img src="{% static 'poll/images/resource/signature.png' %}" alt="">
                        </div>

                        <div class="info">

                            <div class="name">Brendon Garrey</div>

                            <div class="designation">London city mayor</div>

                        </div>

                    </div>



                    <!--Quote-->

                    <div class="quote-box">

                        <div class="round-point">+</div>

                        <div class="inner">

                            <div class="icon-one"><span class="flaticon-left-quote"></span></div>

                            <div class="icon-two"><span class="flaticon-left-quote"></span></div>

                            <div class="text">My highest priority is keeping Londoners safe from harm.</div>

                        </div>

                    </div>

                </div>

            </div>

        </section>



        <!--Services Section-->

        <section class="services-section">

            <div class="image-left">

                <div class="image-layer" style="background-image: url(images/background/image-2.jpg);"></div>

            </div>

            <div class="auto-container">



                <div id="services" class="row clearfix">

                    <!--Featured Service Block-->

                    <div class="featured-service-block col-xl-4 col-lg-12 col-md-12">

                        <div class="inner-box">

                            <figure class="image-box">
                                <a href="#"><img src="{% static 'poll/images/resource/featured-image-1.jpg' %}"
                                        alt=""></a>
                            </figure>

                            <div class="lower-box">

                                <h3><a href="#">Explore Our Service Departments</a></h3>

                                <div class="more-link"><a href="#">All Departments</a></div>

                            </div>

                        </div>

                    </div>



                    <div class="column col-xl-8 col-lg-12 col-md-12">

                        <div class="col-inner">

                            <div class="row clearfix">

                                <!--Feature Block-->

                                <div class="featured-block-two col-lg-6 col-md-6 col-sm-12">

                                    <div class="inner-box">

                                        <div class="content-box">

                                            <div class="icon-box"><span class="icon flaticon-sheriff-badge"></span>
                                            </div>

                                            <div class="content">

                                                <h4><a href="#">EVoting & <br>Forensic Research</a>
                                                </h4>

                                                <div class="text">Blinded by desire, that they cannot foresee belongs
                                                    which through shrinking.</div>

                                                <div class="read-more"><a href="#">Read More</a></div>

                                            </div>

                                        </div>

                                    </div>

                                </div>



                                <!--Feature Block-->

                                <div class="featured-block-two col-lg-6 col-md-6 col-sm-12">

                                    <div class="inner-box">

                                        <div class="content-box">

                                            <div class="icon-box"><span class="icon flaticon-traffic-light"></span>
                                            </div>

                                            <div class="content">

                                                <h4><a href="#">Transport & <br>traffic
                                                        department</a></h4>

                                                <div class="text">Foresee the pain and trouble that are bound to ensue;
                                                    and equal blame belongs.</div>

                                                <div class="read-more"><a href="#">Read More</a>
                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                </div>



                                <!--Feature Block-->

                                <div class="featured-block-two col-lg-6 col-md-6 col-sm-12">

                                    <div class="inner-box">

                                        <div class="content-box">

                                            <div class="icon-box"><span class="icon flaticon-statue"></span></div>

                                            <div class="content">

                                                <h4><a href="#">Arts & <br>culture department</a></h4>

                                                <div class="text">Trouble that are bound to ensue and equal to those
                                                    city work who fail their duty.</div>

                                                <div class="read-more"><a href="#">Read More</a></div>

                                            </div>

                                        </div>

                                    </div>

                                </div>



                                <!--Feature Block-->

                                <div class="featured-block-two col-lg-6 col-md-6 col-sm-12">

                                    <div class="inner-box">

                                        <div class="content-box">

                                            <div class="icon-box"><span class="icon flaticon-museum"></span></div>

                                            <div class="content">

                                                <h4><a href="#">Housing & <br>land department</a>
                                                </h4>

                                                <div class="text">Our power of choice untrammelled and when nothing
                                                    prevents what like best. </div>

                                                <div class="read-more"><a href="#">Read More</a>
                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                </div>



                            </div>

                        </div>

                    </div>

                </div>



            </div>



        </section>

        <!--Services Section-->

        <section class="services-section-two">

            <div class="image-layer" style="background-image: url(images/background/image-4.jpg);"></div>

            <div class="auto-container">

                <div class="sec-title light with-separator centered">

                    <h2>Explore Online Services</h2>

                    <div class="separator"><span class="cir c-1"></span><span class="cir c-2"></span><span
                            class="cir c-3"></span></div>

                </div>



                <div class="outer clearfix">

                    <div class="column nav-column">

                        <div class="inner">

                            <ul>

                                <li><a href="#">Miscellaneous</a></li>

                                <li><a href="#">Taxes and bills</a></li>

                                <li><a href="#">Property tax related</a></li>

                                <li><a href="#">Certificates</a></li>

                                <li><a href="#">Building sanctions</a></li>

                            </ul>

                        </div>

                    </div>



                    <div class="column image-column">

                        <div class="inner">

                            <div class="image-box">

                                <figure class="image"><img
                                        src="{% static 'poll/images/resource/featured-image-2.jpg' %}" alt=""></figure>

                                <div class="over-box">

                                    <div class="icon-box"><span class="flaticon-play"></span></div>

                                    <h4>Video Guidelines For Online Services</h4>

                                </div>

                                <a href="{% url 'account:select_position_view' %}"
                                    class="over-link lightbox-image"></a>

                            </div>

                        </div>

                    </div>



                    <div class="column nav-column">

                        <div class="inner">

                            <ul>

                                <li><a href="#">Birth certificate</a></li>

                                <li><a href="#">Commencement</a></li>

                                <li><a href="#">Death certificate</a></li>

                                <li><a href="#">Fire NOC</a></li>

                                <li><a href="#">Raise compaints</a></li>

                            </ul>

                        </div>

                    </div>



                </div>

            </div>

        </section>



        <!--Team Section-->

        <section class="team-section">

            <div class="auto-container">

                <div class="sec-title with-separator centered">

                    <h2>Meet Council Members</h2>

                    <div class="separator"><span class="cir c-1"></span><span class="cir c-2"></span><span
                            class="cir c-3"></span></div>

                    <div class="lower-text">Denounce with righteous indignation and dislike men who are so beguiled &
                        demoralized our power of choice.</div>

                </div>



                <div class="team-carousel owl-theme owl-carousel">

                    <!--Team Block-->

                    <div class="team-block">

                        <div class="inner-box">

                            <div class="image-box">

                                <figure class="image"><img src="{% static 'poll/images/resource/team-image-1.jpg' %}"
                                        alt=""></figure>

                                <div class="hover-box">

                                    <div class="hover-inner">

                                        <div class="hover-upper">

                                            <div class="icon-box"><span class="flaticon-chat"></span></div>

                                            <h6>Get Touch With Me</h6>

                                        </div>

                                        <div class="hover-lower">

                                            <ul class="info">

                                                <li><a href="tel:+44-800-123-45">+44 800 123 45</a></li>

                                                <li><a href="mailto:elvina@sterlingpoll.org">elvina@sterlingpoll.org</a></li>

                                            </ul>

                                            <ul class="social-links clearfix">

                                                <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>

                                                <li><a href="#"><span class="fab fa-twitter"></span></a></li>

                                                <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>

                                            </ul>

                                        </div>

                                    </div>

                                </div>

                            </div>

                            <div class="lower-box">

                                <h4><a href="#">Bertram Irvin</a></h4>

                                <div class="designation">Mayor</div>

                            </div>

                        </div>

                    </div>

                    <!--Team Block-->

                    <div class="team-block">

                        <div class="inner-box">

                            <div class="image-box">

                                <figure class="image"><img src="{% static 'poll/images/resource/team-image-2.jpg' %}"
                                        alt=""></figure>

                                <div class="hover-box">

                                    <div class="hover-inner">

                                        <div class="hover-upper">

                                            <div class="icon-box"><span class="flaticon-chat"></span></div>

                                            <h6>Get Touch With Me</h6>

                                        </div>

                                        <div class="hover-lower">

                                            <ul class="info">

                                                <li><a href="tel:+44-800-123-45">+44 800 123 45</a></li>

                                                <li><a href="mailto:elvina@sterlingpoll.org">elvina@sterlingpoll.org</a></li>

                                            </ul>

                                            <ul class="social-links clearfix">

                                                <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>

                                                <li><a href="#"><span class="fab fa-twitter"></span></a></li>

                                                <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>

                                            </ul>

                                        </div>

                                    </div>

                                </div>

                            </div>

                            <div class="lower-box">

                                <h4><a href="#">Elvina Julie</a></h4>

                                <div class="designation">Actuary</div>

                            </div>

                        </div>

                    </div>

                    <!--Team Block-->

                    <div class="team-block">

                        <div class="inner-box">

                            <div class="image-box">

                                <figure class="image"><img src="{% static 'poll/images/resource/team-image-3.jpg' %}"
                                        alt=""></figure>

                                <div class="hover-box">

                                    <div class="hover-inner">

                                        <div class="hover-upper">

                                            <div class="icon-box"><span class="flaticon-chat"></span></div>

                                            <h6>Get Touch With Me</h6>

                                        </div>

                                        <div class="hover-lower">

                                            <ul class="info">

                                                <li><a href="tel:+44-800-123-45">+44 800 123 45</a></li>

                                                <li><a href="mailto:elvina@sterlingpoll.org">elvina@sterlingpoll.org</a></li>

                                            </ul>

                                            <ul class="social-links clearfix">

                                                <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>

                                                <li><a href="#"><span class="fab fa-twitter"></span></a></li>

                                                <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>

                                            </ul>

                                        </div>

                                    </div>

                                </div>

                            </div>

                            <div class="lower-box">

                                <h4><a href="#">Herman Gordon</a></h4>

                                <div class="designation">Director</div>

                            </div>

                        </div>

                    </div>

                    <!--Team Block-->

                    <div class="team-block">

                        <div class="inner-box">

                            <div class="image-box">

                                <figure class="image"><img src="{% static 'poll/images/resource/team-image-4.jpg' %}"
                                        alt=""></figure>

                                <div class="hover-box">

                                    <div class="hover-inner">

                                        <div class="hover-upper">

                                            <div class="icon-box"><span class="flaticon-chat"></span></div>

                                            <h6>Get Touch With Me</h6>

                                        </div>

                                        <div class="hover-lower">

                                            <ul class="info">

                                                <li><a href="tel:+44-800-123-45">+44 800 123 45</a></li>

                                                <li><a href="mailto:elvina@sterlingpoll.org">elvina@sterlingpoll.org</a></li>

                                            </ul>

                                            <ul class="social-links clearfix">

                                                <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>

                                                <li><a href="#"><span class="fab fa-twitter"></span></a></li>

                                                <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>

                                            </ul>

                                        </div>

                                    </div>

                                </div>

                            </div>

                            <div class="lower-box">

                                <h4><a href="#">Marian Lenora</a></h4>

                                <div class="designation">Speaker</div>

                            </div>

                        </div>

                    </div>
                </div>

            </div>

        </section>



        <!--News Section-->

        <section class="news-section">

            <div class="auto-container">

                <div class="sec-title with-separator">

                    <h2>Latest Press Releases</h2>

                    <div class="separator"><span class="cir c-1"></span><span class="cir c-2"></span><span
                            class="cir c-3"></span></div>

                </div>



                <div class="carousel-box">

                    <div class="news-carousel owl-theme owl-carousel">

                        <!--News Block-->

                        <div class="news-block">

                            <div class="inner-box">

                                <div class="image-box">

                                    <figure class="image"><img
                                            src="{% static 'poll/images/resource/blog-image-1.jpg' %}" alt=""></figure>

                                    <div class="hover-box">

                                        <div class="link zoom-link">

                                            <a href="images/resource/blog-image-1.jpg" class="lightbox-image"><span
                                                    class="icon flaticon-zoom-in"></span></a>

                                        </div>

                                        <div class="link single-link">

                                            <a href="#"><span class="icon flaticon-link-4"></span></a>

                                        </div>

                                    </div>

                                </div>

                                <div class="lower-box">

                                    <div class="upper-info">

                                        <h4><a href="#">Asks tech sector to help tackle London’s
                                                challenges</a></h4>

                                        <div class="cat-info"><a href="#"><span class="fa fa-folder"></span>Community
                                                Life</a></div>

                                    </div>

                                    <div class="meta-info clearfix">

                                        <div class="author-info clearfix">

                                            <div class="author-icon"><span class="flaticon-user-3"></span></div>

                                            <div class="author-title">By Julie Gordon</div>

                                            <div class="date">24.12.2019</div>

                                        </div>

                                        <div class="comments-info">

                                            <a href="#"><span class="fa fa-comment"></span> 02</a>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>



                        <!--News Block-->

                        <div class="news-block">

                            <div class="inner-box">

                                <div class="image-box">

                                    <figure class="image"><img
                                            src="{% static 'poll/images/resource/blog-image-2.jpg' %}" alt=""></figure>

                                    <div class="hover-box">

                                        <div class="link zoom-link">

                                            <a href="images/resource/blog-image-2.jpg" class="lightbox-image"><span
                                                    class="icon flaticon-zoom-in"></span></a>

                                        </div>

                                        <div class="link single-link">

                                            <a href="#"><span class="icon flaticon-link-4"></span></a>

                                        </div>

                                    </div>

                                </div>

                                <div class="lower-box">

                                    <div class="upper-info">

                                        <h4><a href="#">Last chance to get your tickets for christmas
                                                fireworks</a></h4>

                                        <div class="cat-info"><a href="#"><span class="fa fa-folder"></span>Public
                                                Information</a></div>

                                    </div>

                                    <div class="meta-info clearfix">

                                        <div class="author-info clearfix">

                                            <div class="author-icon"><span class="flaticon-user-3"></span></div>

                                            <div class="author-title">By Edmud Caspar</div>

                                            <div class="date">12.10.2019</div>

                                        </div>

                                        <div class="comments-info">

                                            <a href="#"><span class="fa fa-comment"></span> 03</a>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>



                        <!--News Block-->

                        <div class="news-block">

                            <div class="inner-box">

                                <div class="image-box">

                                    <figure class="image"><img
                                            src="{% static 'poll/images/resource/blog-image-3.jpg' %}" alt=""></figure>

                                    <div class="hover-box">

                                        <div class="link zoom-link">

                                            <a href="images/resource/blog-image-3.jpg" class="lightbox-image"><span
                                                    class="icon flaticon-zoom-in"></span></a>

                                        </div>

                                        <div class="link single-link">

                                            <a href="#"><span class="icon flaticon-link-4"></span></a>

                                        </div>

                                    </div>

                                </div>

                                <div class="lower-box">

                                    <div class="upper-info">

                                        <h4><a href="#">Mayor announces london living wage £10.75 per
                                                hour</a></h4>

                                        <div class="cat-info"><a href="#"><span
                                                    class="fa fa-folder"></span>Regeneration</a></div>

                                    </div>

                                    <div class="meta-info clearfix">

                                        <div class="author-info clearfix">

                                            <div class="author-icon"><span class="flaticon-user-3"></span></div>

                                            <div class="author-title">By Lindon Graham</div>

                                            <div class="date">15.10.2019</div>

                                        </div>

                                        <div class="comments-info">

                                            <a href="#"><span class="fa fa-comment"></span> 12</a>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                        <!--News Block-->

                        <div class="news-block">

                            <div class="inner-box">

                                <div class="image-box">

                                    <figure class="image"><img
                                            src="{% static 'poll/images/resource/blog-image-1.jpg' %}" alt=""></figure>

                                    <div class="hover-box">

                                        <div class="link zoom-link">

                                            <a href="images/resource/blog-image-1.jpg" class="lightbox-image"><span
                                                    class="icon flaticon-zoom-in"></span></a>

                                        </div>

                                        <div class="link single-link">

                                            <a href="#"><span class="icon flaticon-link-4"></span></a>

                                        </div>

                                    </div>

                                </div>

                                <div class="lower-box">

                                    <div class="upper-info">

                                        <h4><a href="#">Asks tech sector to help tackle London’s
                                                challenges</a></h4>

                                        <div class="cat-info"><a href="#"><span class="fa fa-folder"></span>Community
                                                Life</a></div>

                                    </div>

                                    <div class="meta-info clearfix">

                                        <div class="author-info clearfix">

                                            <div class="author-icon"><span class="flaticon-user-3"></span></div>

                                            <div class="author-title">By Julie Gordon</div>

                                            <div class="date">24.12.2019</div>

                                        </div>

                                        <div class="comments-info">

                                            <a href="#"><span class="fa fa-comment"></span> 02</a>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>



                        <!--News Block-->

                        <div class="news-block">

                            <div class="inner-box">

                                <div class="image-box">

                                    <figure class="image"><img
                                            src="{% static 'poll/images/resource/blog-image-2.jpg' %}" alt=""></figure>

                                    <div class="hover-box">

                                        <div class="link zoom-link">

                                            <a href="images/resource/blog-image-2.jpg" class="lightbox-image"><span
                                                    class="icon flaticon-zoom-in"></span></a>

                                        </div>

                                        <div class="link single-link">

                                            <a href="#"><span class="icon flaticon-link-4"></span></a>

                                        </div>

                                    </div>

                                </div>

                                <div class="lower-box">

                                    <div class="upper-info">

                                        <h4><a href="#">Last chance to get your tickets for christmas
                                                fireworks</a></h4>

                                        <div class="cat-info"><a href="#"><span class="fa fa-folder"></span>Public
                                                Information</a></div>

                                    </div>

                                    <div class="meta-info clearfix">

                                        <div class="author-info clearfix">

                                            <div class="author-icon"><span class="flaticon-user-3"></span></div>

                                            <div class="author-title">By Edmud Caspar</div>

                                            <div class="date">12.10.2019</div>

                                        </div>

                                        <div class="comments-info">

                                            <a href="#"><span class="fa fa-comment"></span> 03</a>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>



                        <!--News Block-->

                        <div class="news-block">

                            <div class="inner-box">

                                <div class="image-box">

                                    <figure class="image"><img
                                            src="{% static 'poll/images/resource/blog-image-3.jpg' %}" alt=""></figure>

                                    <div class="hover-box">

                                        <div class="link zoom-link">

                                            <a href="images/resource/blog-image-3.jpg" class="lightbox-image"><span
                                                    class="icon flaticon-zoom-in"></span></a>

                                        </div>

                                        <div class="link single-link">

                                            <a href="#"><span class="icon flaticon-link-4"></span></a>

                                        </div>

                                    </div>

                                </div>

                                <div class="lower-box">

                                    <div class="upper-info">

                                        <h4><a href="#">Mayor announces london living wage £10.75 per
                                                hour</a></h4>

                                        <div class="cat-info"><a href="#"><span
                                                    class="fa fa-folder"></span>Regeneration</a></div>

                                    </div>

                                    <div class="meta-info clearfix">

                                        <div class="author-info clearfix">

                                            <div class="author-icon"><span class="flaticon-user-3"></span></div>

                                            <div class="author-title">By Lindon Graham</div>

                                            <div class="date">15.10.2019</div>

                                        </div>

                                        <div class="comments-info">

                                            <a href="#"><span class="fa fa-comment"></span> 12</a>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>



                    </div>



                </div>

            </div>

        </section>



        <!--Contact Info Section-->

        <section class="contact-info-section">

            <div class="image-layer" style="background-image: url(images/background/image-5.jpg);"></div>

            <div class="auto-container">

                <div class="sec-title with-separator centered" id="contact">

                    <h2>Suggestion and Complaints</h2>

                    <div class="separator"><span class="cir c-1"></span><span class="cir c-2"></span><span
                            class="cir c-3"></span></div>

                    <div class="lower-text">Denounce with righteous indignation and dislike men who are so beguiled &
                        demoralized our power of choice.</div>

                </div>

                <div class="info-outer clearfix">

                    <!--Info Box-->

                    <div class="info-box">

                        <div class="inner">

                            <div class="icon"><span class="flaticon-password"></span></div>

                            <strong>Call on</strong>

                            <div class="info"><a href="tel:+4488812345">+44 888 12 345</a></div>

                        </div>

                    </div>

                    <!--Info Box-->

                    <div class="info-box">

                        <div class="inner">

                            <div class="icon"><span class="flaticon-contact"></span></div>

                            <strong>Mail at</strong>

                            <div class="info"><a href="mailto:Mail@sterlingpoll.org">Mail@sterlingpoll.org</a></div>

                        </div>

                    </div>

                    <!--Info Box-->

                    <div class="info-box">

                        <div class="inner">

                            <div class="icon"><span class="flaticon-circular-clock"></span></div>

                            <strong>Off hrs</strong>

                            <div class="info">10am to 6pm</div>

                        </div>

                    </div>

                    <!--Info Box-->

                    <div class="info-box">

                        <div class="inner">

                            <div class="icon"><span class="flaticon-checklist"></span></div>

                            <strong>LN 311</strong>

                            <div class="info">Non Emergency</div>

                        </div>

                    </div>

                </div>

            </div>



        </section>



        <!--Testimonials Section-->

        <section class="testimonials-section">

            <div class="image-layer" style="background-image: url(images/background/image-2.jpg);"></div>



            <div class="auto-container">

                <div class="carousel-box">

                    <div class="icon-box"><span>Q</span></div>

                    <div class="testimonial-carousel owl-theme owl-carousel">

                        <!--Slide-->

                        <div class="slide-item">

                            <div class="inner">

                                <div class="info clearfix">

                                    <div class="author-thumb"><img
                                            src="{% static 'poll/images/resource/author-thumb-1.jpg' %}" alt=""></div>

                                    <div class="name">Lucian manroe</div>

                                    <div class="designation">Citizen</div>

                                </div>

                                <div class="text">“Loves or pursues desires to obtain pain of itself, because pain
                                    because occasionally circumstances occur in which toil and pain can procure him some
                                    great pleasure.”</div>

                            </div>

                        </div>



                        <!--Slide-->

                        <div class="slide-item">

                            <div class="inner">

                                <div class="info clearfix">

                                    <div class="author-thumb"><img
                                            src="{% static 'poll/images/resource/author-thumb-6.jpg' %}" alt=""></div>

                                    <div class="name">Bertram Irvin</div>

                                    <div class="designation">Citizen</div>

                                </div>

                                <div class="text">“Loves or pursues desires to obtain pain of itself, because pain
                                    because occasionally circumstances occur in which toil and pain can procure him some
                                    great pleasure.”</div>

                            </div>

                        </div>



                        <!--Slide-->

                        <div class="slide-item">

                            <div class="inner">

                                <div class="info clearfix">

                                    <div class="author-thumb"><img
                                            src="{% static 'poll/images/resource/author-thumb-7.jpg' %}" alt=""></div>

                                    <div class="name">Marian Lenora</div>

                                    <div class="designation">Speaker</div>

                                </div>

                                <div class="text">“Loves or pursues desires to obtain pain of itself, because pain
                                    because occasionally circumstances occur in which toil and pain can procure him some
                                    great pleasure.”</div>

                            </div>

                        </div>



                    </div>

                </div>

            </div>



        </section>



        <!--Facts Section-->

        <section class="facts-section">

            <div class="auto-container">

                <div class="row clearfix">

                    <!--Fact Column-->

                    <div class="fact-column col-lg-4 col-md-4 col-sm-12">

                        <div class="inner">

                            <div class="fact-box">

                                <span class="count-box">850k</span>

                            </div>

                            <h4 class="fact-title">People lived in <br>our city</h4>

                            <div class="text">Foresee the pain and trouble that are bound ensue equal blame belongs.
                            </div>

                        </div>

                    </div>

                    <!--Fact Column-->

                    <div class="fact-column col-lg-4 col-md-4 col-sm-12">

                        <div class="inner">

                            <div class="fact-box">

                                <span class="count-box">1.5k</span>

                            </div>

                            <h4 class="fact-title">Square kilometres <br>region covers </h4>

                            <div class="text">Our power of choice is untrammelled and when nothing prevents what we like
                                best. </div>

                        </div>

                    </div>

                    <!--Fact Column-->

                    <div class="fact-column col-lg-4 col-md-4 col-sm-12">

                        <div class="inner">

                            <div class="fact-box">

                                <span class="count-box">24%</span>

                            </div>

                            <h4 class="fact-title">Private & domestic <br>garden land</h4>

                            <div class="text">Trouble that are bound to ensue and equal to city work who fail in their
                                duty.</div>

                        </div>

                    </div>

                </div>

            </div>

        </section>
  
{% endblock content %}